
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 110vh;
    margin: 0;
    background: url('R.jfif') center/cover no-repeat;
}

.texto {
    color: red;
    font-size: 50px;
    text-align: center;
}

#display {
    height: 50px;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    background-color: black;
    color: red;
    font-size: 40px;
    text-align: center;
    line-height: 50px; /* Centraliza o texto verticalmente */
}

.btn {
    height: 100px;
    background: url('abc.jpg') center/cover no-repeat;
    font-size: 80px;
    color: red;
    border: none;
    cursor: pointer;
}

.btn1 {
    height: 100px;
    background: url('maioral.jpg') center/cover no-repeat;
    font-size: 40px;
    color: red;
    border: none;
    cursor: pointer;
}



  
